// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";
.red_text{
	color:red;
}
.float_left{
	float:left;
}
.float_right{
	float:right;
}
.wrapper{
	width:900px;
	margin:10px auto;
}